/* Estilo general para el nav */
nav {
  display: flex;
  justify-content: space-between; /* Asegura que los elementos hijos se distribuyan horizontalmente */
  align-items: center; /* Alinea verticalmente los elementos dentro del nav */
  background-color: var(--navbar);
  width: 100%;
  height: 10vh;
  position: fixed;
  z-index: 99;
  padding: 0 16px; /* Espaciado interno */
  box-sizing: border-box; /* Incluye padding y border en el ancho total */
}

/* Contenedor de los elementos dentro del nav */
.navbar__container {
  display: flex;
  justify-content: space-between; /* Espacio entre los contenedores de la izquierda y derecha */
  width: 100%;
}

/* Contenedor de los enlaces del lado izquierdo */
.navbar__container-items-left {
  display: flex;
  align-items: center;
  gap: 16px; /* Espacio entre los enlaces */
}

/* Contenedor del botón de cerrar sesión a la derecha */
.navbar__container-items-right {
  display: flex;
  align-items: center;
}

/* Estilos para los enlaces de navegación */
.navbar__enlace {
  display: block;
  padding: 8px;
  color: var(--blanco);
  font-size: 16px;
  font-weight: 300;
  font-family: var(--openSans);
  text-decoration: none;
}

.navbar__enlace:hover {
  background-color: var(--blanco);
  color: var(--azul-rey);
  font-weight: 400;
  padding: 6px;
  border-radius: 10px;
}
